.about-service {
    background-color: var(--background-color);
    border-radius: 0px 0px 100px 100px;
    padding: 120px;
}

.cross {
    padding: 0px 120px 60px 120px;
    margin-top: -76px;
}

.about-company {
    padding: 60px 120px;
}

.how-it-works {
    padding: 120px;
}

.calculator {
    padding: 120px;
}

.what-selling {
    padding: 120px;
}

.why-this-company {
    padding: 0px 120px 120px 120px;
}

.reviews {
    padding: 0px 120px 120px 120px;
}