<header class="header container">
    <!-- Navigation -->
    <nav class="header__nav nav">
        <a class="nav__logo" href="/">
            <picture>
                <img src="./assets/images/logo.svg" alt="PRO-DEAL">
            </picture>
        </a>
        <ul class="nav__menu menu reset-list">
            <li><a class="menu__links reset-link" href="#">О сервисе</a></li>
            <li><a class="menu__links reset-link" href="#">Как работает</a></li>
            <li><a class="menu__links reset-link" href="#">Кому выгодно</a></li>
            <li><a class="menu__links reset-link" href="#">Контакты</a></li>
        </ul>
    </nav>
    <!-- End Navigation -->

    <div class="header__contact-btn contact-btn">
        <ul class="contact-btn__contact contact reset-list">
            <li><a class="contact__number reset-link" href="tel:+78003501005">+7 (800) 350-10-05</a></li>
            <li>
                <div class="contact__daytime">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                        <circle cx="4" cy="4.5" r="4" fill="#0DC268"/>
                    </svg>
                    ПН-ПН 09:00-18:00
                </div>
            </li>
        </ul>
        <button class="contact-btn__btn btn reset-btn">Войти</button>
    </div>
</header>
